body {
  background-color: rgb(0, 31, 66);
  font-family: "Roboto Mono", monospace;
}

.App {
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  font-size: 36px;
}

.clock {
  font-size: 48px;
  color: lightblue;
}
